*{
    font-family: Roboto;
    text-align: center; 
    font-weight: 400px;
}
img{
    height: 430px;
    width: 430px;
    border-radius: 200px;
}
.container{
    width: 570px;
    margin: auto;
}
body{
    font-weight: 21px;
    margin: 0px;
}
h1{
    font-weight: 60px;  
}
h2{
    font-weight: 42px;
}
h3{
    font-weight: 36px;
}
a{
    color: #99D930;
}
a:hover{
    color: #131313;
}
#Second-Para{
    font-size: 16px;
}
.header{
 background-color: #D7D7D7;
}
.about-me{
    background-color: #FFEAEA;
}
.article{
    background-color: #EAF9FF;
}
h1 span{
    font-size: 80px;
    font-weight: 800;
}
h2 span{
    font-size: 60px;
    font-weight: 800;
}
.para{
    padding: 100px;
}